flask
python-dotenv
langchain
openai
google-api-python-client
google-search-results
youtube-transcript-api
chromadb
tiktoken
faiss-cpu
wikipedia
psycopg2
pinecone-client
pgvector
langchain-community
langchain-openai


# trigger build
